.calendar {
  position: absolute;
  width: 325px;
  height: 300px;
  top: 60px;
  z-index: 1;
}

.cal-triangle {
  height: 11px;
  width: 11px;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 157px;
}

.cal-main {
  height: 97%;
  margin-top: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  border-radius: 4px;
}

.cal-month {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #C4C4C4;
}

.prev-month, .next-month {
  width: 50px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.prev-month {
  background-image: url(../images/left.png);
}

.next-month {
  background-image: url(../images/right.png);
}

.cal-month-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2D2B2F;
  align-self: center;
}



.none {
  display: none;
}