.calendar {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 729px;
  height: 574px;
  left: 958px;
  top: 411px;
  background: rgba(41, 41, 41, 0.8);
}

.cal-direction {
  margin: 80px 20px 0 20px;
}

.cal-dir-text {
  width: 231px;
  height: 43px;
  font-family: 'Roboto-light';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}

.dir-input-from::placeholder, .dir-input-to::placeholder {
  width: 231px;
  height: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #E5E5E5;
}

.dir-input-from, .dir-input-to {
  border: none;
  border-radius: 3px;
  width: 325px;
  height: 60px;
  padding-left: 20px;
  background-color: #ffffff;
  background-image: url(../images/vector.png);
  background-repeat: no-repeat;
  background-position: center right 17px;
}

.dir-btn {
  position: relative;
  border: none;
  cursor: pointer;
  margin: auto 7px;
  width: 24px;
  height: 24px;
  opacity: 0.4;
  background-color: rgba(41, 41, 41, 0.8);
}

.dir-btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/direction.png);
  background-size: cover;
}

.cal-date {
  margin: 60px 20px 0 20px;
}

.cal-date-text {
  width: 231px;
  height: 43px;
  font-family: 'Roboto-light';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}

.cal-date-inputs {
  display: flex;

}

.date-input-from, .date-input-to {
  border: none;
  border-radius: 3px;
  width: 325px;
  height: 60px;
  padding-left: 20px;
}

.date-input-from::placeholder, .date-input-to::placeholder {
  width: 231px;
  height: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #E5E5E5;
}

.date-input-to {
  margin-left: auto;
}

.date-input-from, .date-input-to {
  border: none;
  border-radius: 3px;
  width: 325px;
  height: 60px;
  padding-left: 20px;
  background-color: #ffffff;
  background-image: url(../images/calendar.png);
  background-repeat: no-repeat;
  background-position: center right 17px;
}

.cal-btn {
  margin: 90px 20px auto auto;
  width: 325px;
  height: 60px;
  background: #FFA800;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
  cursor: pointer;
}