.coaches {

}

.coaches-title {
  font-family: 'Roboto-medium';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #292929;
  margin-top: 100px;
  margin-bottom: 50px;
}

.coach {
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.choice-train {
  display: flex;
  margin: 36px auto 32px 19px;
}

.choice-train-img {
  display: flex;
  width: 76px;
  height: 60px;
  margin-right: 10px;
  background-image: url(../images/Subtract-right.png);
}

.choice-train-btn {
  font-family: 'Roboto-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #292929;
  width: 325px;
  height: 60px;
  border: 1px solid #292929;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.choice-train-btn:hover {
  border: 1px solid #292929;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  color: #FFA800;
  transition: all 300ms ease-in-out;
}

.choice-train-btn:focus {
  background-color: #FFA800;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #292929;
  border: none;
}

.coach-train {
  display: flex;
  background: #F7F6F6;
  min-height: 125px;
}

.coach-train-route {
  display: flex;
  width: 240px;
}

.coach-train-img {
  display: flex;
  width: 30px;
  height: 30px;
  background-image: url(../images/train-img.png);
  margin: auto 27px auto 35px;
}

.coach-train-desc {
  margin-top: auto;
  margin-bottom: auto;
}

.train-desc-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #3E3C41;
  margin-bottom: 5px;
}

.train-desc-city {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #292929;
}

.coach-direction-time {
  display: flex;
  width: 480px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  margin-top: auto;
  margin-bottom: auto;
}

.coach-direction-city {
  margin-left: auto;
  margin-right: auto;
}

.coach-time {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.coach-direction-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #292929;
}

.coach-direction-station {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #928F94;
}

.coach-time {

}

.coach-direction-station {

}

.coach-duration {
  display: flex;
}

.coach-duration-img {
  display: flex;
  width: 30px;
  height: 30px;
  background-image: url(../images/time-img.png);
  margin: 47px 10px 46px 35px;
}

.coach-duration-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 42px;
}

.amount-tickets {
  margin-top: 40px;
  height: 337px;
  border-bottom: 1px dashed #C4C4C4;;
}

.amount-tickets-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #292929;
  margin: 0 auto 15px 20px;
}

.tickets-age {
  display: flex;
}

.tickets-age-inputs {
  width: 320px;
  height: 192px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tickets-age-input {
  width: 240px;
  height: 50px;
  padding-left: 15px;
  background: #FFFFFF;
  border: 1px solid #928F94;
  border-radius: 5px;
}

.tickets-age-input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
}


.tickets-adults-desc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #928F94;
  margin-top: 23px;
  width: 240px;
}

.tickets-age-inputs:hover {
  border: 1px solid rgba(255, 168, 0, 0.79);
}

.tickets-age-input:focus-within {
  outline: none;
}

.tickets-age-inputs:focus-within {
  background-color: #F7F6F6;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: none;
}


.tickets-child {

}

.tickets-age-input {

}

.tickets-adults-desc {

}

.tickets-child-without {

}

.tickets-age-input {

}

.tickets-adults-desc {

}

.coaches-types {

}

.coach-type-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #292929;
  margin: 27px auto 35px 20px;
}

.coach-types {
  display: flex;
}

.coach-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 140px;
}

.type-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  margin-top: 20px;
}

.coach-type > span {
  display: flex;
  height: 50px;
}

.type-text-active {
  color: #FFA800;
}

.type-fourth-img {
  width: 31px;
  background-image: url(../images/fourth.png);
}

.type-third-img {
  width: 50px;
  background-image: url(../images/third-class.png);
}

.type-second-img {
  width: 50px;
  background-image: url(../images/second-class.png);
}

.type-first-img {
  width: 57px;
  background-image: url(../images/first-class.png);
}

.type-fourth-img-active {
  width: 31px;
  background-image: url(../images/fourth-take.png);
}

.type-third-img-active {
  width: 50px;
  background-image: url(../images/third-take.png);
}

.type-second-img-active {
  width: 50px;
  background-image: url(../images/second-take.png);
}

.type-first-img-active {
  width: 57px;
  background-image: url(../images/first-take.png);
}

.coaches-numbering {
  display: flex;
  background-color: rgba(255, 168, 0, 0.44);
  height: 37px;
}

.coaches-numbering > p {
  margin-right: 15px;
  align-self: center;
}

.coaches-numbers {
  display: flex;
  margin: auto auto auto 33px;
  align-items: baseline;
}

.coaches-numbers-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #292929;
}

.coaches-number-text, .coaches-number-current {
  font-family: 'Roboto-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-left: 5px;
}

.coaches-number-current {
  color: #ffffff;
}

.coach-description-prices {
  display: flex;
  height: 160px;
}

.coach-number {
  background-color: rgba(255, 168, 0, 0.44);
  width: 190px;
}

.coach-number-title {
  font-family: 'Roboto-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: #292929;
  text-align: center;
  margin-top: 25px;
}

.coach-number-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #292929;
}

.coach-seats-amount, .coach-seats-price {
  margin-top: 33px;
  margin-left: 85px;
  width: 180px;
}

.coach-seats-amount > p, .coach-seats-price > p {
  margin-bottom: 22px;
}

.seats-amount-title, .seats-price-title, .coach-services-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #928F94;
}

.seats-amount-num {
  color: #000000;
}

.seats-amount-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.seats-amount-num {
  font-family: 'Roboto-bold';
}

.coach-seats-price {
  margin-left: 80px;
}

.seats-price-text {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.seats-price-text > span {
  margin-left: 10px;
}

.coach-services {
  margin-top: 33px;
}

.coach-services-text {
  margin-bottom: 20px;
}

.coach-services-img {
  display: flex;
}

.service-air, .service-wifi, .service-linens, .service-coffee, .service-air-selected, .service-wifi-selected, .service-linens-selected, .service-coffee-selected {
  display: flex;
  position: relative;
  width: 36px;
  height: 35px;
  margin-right: 13px;
  border: 1px solid #292929;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.service-air-selected, .service-wifi-selected, .service-linens-selected, .service-coffee-selected {
  background-color: #FDB935;
  border: none;
}

.service-air:hover, .service-wifi:hover, .service-linens:hover, .service-coffee:hover {
  background-color: #FFA800;
  transition: background-color 300ms ease;
}

.service-air {
  background-image: url(../images/air-black.png);
}

.service-wifi {
  background-image: url(../images/wifi-black.png);
}

.service-linens {
  background-image: url(../images/linens-black.png);
}

.service-coffee {
  background-image: url(../images/cup-black.png);
}

.service-air-selected {
  background-image: url(../images/air-white.png);
}

.service-wifi-selected {
  background-image: url(../images/wifi-white.png);
}

.service-linens-selected {
  background-image: url(../images/linens-white.png);
}

.service-coffee-selected {
  background-image: url(../images/cup-white.png);
}

.service-included {
  background-color: #FFA800;
  opacity: 0.5;
  border: none;
}

.service-description {
  position: absolute;
  width: 130px;
  height: 32px;
  left: -45px;
  top: 40px;
  background: #E5E5E5;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.coach-seats-selected {
  width: 200px;
  height: 72px;
  background: #F3F3F3;
  border-radius: 5px;
  margin: 4px 42px 0 auto;
  display: flex;
}

.coach-seats-selected > p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #292929;
  display: flex;
  align-items: center;
  text-align: center;
}

.coach-description {
  border-bottom: 1px dashed #C4C4C4;
  margin-bottom: 33px;
}

.coach-seats-info {

}

.seats-info-first, .seats-info-second, .seats-info-third, .seats-info-fourth {
  display: flex;
  position: relative;
  width: 920px;
  height: 145px;
  margin: 0 17px 80px 21px;
}

.seats-info-first {
  background-image: url(../images/coach-first.png);
}

.seats-info-second {
  background-image: url(../images/coach-second.png);
}

.seats-info-third {
  background-image: url(../images/coach-third.png);
}

.seats-info-fourth {
  background-image: url(../images/coach-fourth.png);
}


.coach-button, .coach-button-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
  height: 60px;
  font-family: 'Roboto-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #FFA800;
  border: none;
  border-radius: 5px;
  margin: 93px 0 124px auto;
  cursor: pointer;
}

.coach-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
} 

.coach-button:focus {
  background-color: transparent;
  border: 1px solid #FFA800;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #FFA800;
  transition: all 300ms ease-in-out;
} 

.coach-button-inactive {
  background-color: #928F94;
}

.scheme-seats-first, .scheme-seats-second, .scheme-seats-third, .scheme-seats-fourth {
  position: absolute;
}

.scheme-seats-first {
  border: 1px solid black;
  width: 715px;
  height: 112px;
  top: 26px;
  left: 131px;
}

.scheme-seats-second {
  border: 1px solid black;
  width: 715px;
  height: 112px;
  top: 26px;
  left: 131px;
}

.scheme-seats-third {
  box-sizing: border-box;
  border: 1px solid black;
  width: 89.63px;
  height: 114px;
  top: 26px;
  left: 131px;
}

.scheme-seats-fourth {
  border: 1px solid black;
  width: 715px;
  height: 112px;
  top: 26px;
  left: 131px;
}

.seat-class {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: 'Roboto-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.seat-top-left {
  background-color: #f55858;
  width: 27px;
  height: 32px;
  top: 1px;
  left: 1px;
}
.seat-bot-left {
  background-color: #a4f558;
  width: 27px;
  height: 32px;
  top: 33px;
  left: 1px;
}
.seat-side-left {
  background-color: rgb(31, 130, 223);
  width: 44px;
  height: 25px;
  top: 86px;
  left: 1px;
}

.seat-top-right {
  background-color: #f5585869;
  width: 27px;
  height: 32px;
  top: 1px;
  left: 62px;
}
.seat-bot-right {
  background-color: #a4f55873;
  width: 27px;
  height: 32px;
  top: 33px;
  left: 62px;
}
.seat-side-right {
  background-color: rgba(31, 130, 223, 0.363);
  width: 44px;
  height: 25px;
  top: 86px;
  left: 45px;
}