.filter-route {
  margin: 95px 85px 95px 260px;
  color: #ffffff;
  background-color: #3E3C41;
  width: 360px;
  height: 1524px;
}

.filter-line {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.filter-date {
  height: 235px;
}

.filter-date-from {
  width: 295px;
  margin: 45px auto 25px auto;
}

.filter-date-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}

.filter-date-from > input, .filter-date-to > input {
  width: 295px;
  height: 44px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
  padding-left: 8px;
  border-radius: 3px;
  border: none;
  background-image: url(../images/filter-calendar.png);
  background-repeat: no-repeat;
  background-position: center right 17px;
}

.filter-date-from > input::placeholder, .filter-date-to > input::placeholder {
  color: #C4C4C4;
}

.filter-date-to {
  width: 295px;
  margin: 0 auto 32px auto;
}

/* checkboxes */

.filter-checkboxes {
  width: 265px;
  margin: 25px 35px 20px 60px;
}

.checkbox-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-right: auto;
}

.checkbox-coupe, .checkbox-reserved-seat, .checkbox-seated, .checkbox-lux, .checkbox-wifi, .checkbox-express {
  display: flex;
  margin-bottom: 30px;
}

.coupe-img, .reserved-seat-img, .seated-img, .lux-img, .wifi-img, .express-img {
  width: 22px;
  height: 22px;
  margin-right: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

.coupe-img {
  background-image: url(../images/coupe.png);
}

.reserved-seat-img {
  background-image: url(../images/reserved.png);
}

.seated-img {
  background-image: url(../images/seated.png);
}

.lux-img {
  background-image: url(../images/lux.png);
}

.wifi-img {
  background-image: url(../images/wifi.png);
}

.express-img {
  background-image: url(../images/express.png);
}

.check-element {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}

.checkbox-input {
  position: absolute;
  clip: rect(0 0 0 0);
}

.check-true::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  top: -4px;
  left: -10px;
  background-color: #FFA800;
  border-radius: 50%;
  transition: left 400ms ease-in-out;
}

.check-true::before {
  content: '';
  position: absolute;
  width: 72px;
  height: 20px;
  top: 0px;
  left: -55px;
  background-color: #FCDC9D;
  border-radius: 15px;
  transition: background-color 400ms ease;
}

.check-false::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  top: -4px;
  left: -56px;
  background-color: #C4C4C4;
  border-radius: 50%;
  transition: left 400ms ease-in-out;
}

.check-false::before {
  content: '';
  position: absolute;
  width: 72px;
  height: 20px;
  top: 0px;
  left: -55px;
  background-color: #FFFFFF;;
  border-radius: 15px;
  transition: background-color 400ms ease;
}

/* filter-price */

.filter-price {

}

.filter-price-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin: 37px auto 11px 32px;
}

.price-range {
  margin: 0 34px 32px 30px;
}

.price-range-text {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px;
}

.range-input-in {
  width: 295px;
  height: 20px;
  transform: rotate(0deg);
  background: transparent;
  appearance: none;
  position: absolute;
  border-radius: 8px;
  pointer-events: none;
  z-index: 1;
}

.range-input-out {
  width: 295px;
  height: 20px;
  background: transparent;
  appearance: none;
  position: absolute;
  border-radius: 8px;
  pointer-events: none;
  z-index: 1;
}

.range-input-in::-webkit-slider-thumb, .range-input-out::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
  pointer-events: all;
}

.range-input-in::-moz-range-thumb, .range-input-out::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
  pointer-events: all;
}

.range-input {
  display: flex;
  justify-content: center;
  position: relative;
  width: 295px;
  height: 20px;

  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  border-radius: 9px;
  background-color: transparent;
}
.range-line {
  position: relative;
  width: 280px;
  height: 20px;
  z-index: 0;
}

.range-line-body {
  background-color: #FFA800;
  position: absolute;
  top: -1px;
  height: 20px;
  z-index: 1;
}

.price-range-number {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  margin-top: 10px;
}

.price-start {
  padding-right: 2px;
}

.price-end {
  padding-left: 2px;
}

.price-min {
  position: absolute;
  left: 0;
}

.price-max {
  position: absolute;
  right: 0;
}
/* filter-time-there */

.filter-time-there {

}

.filter-time-title {

}

.filter-time-there-img {

}

.filter-time-title {

}

.filter-time-close {

}

.time-range-there {

}

.time-range-text {

}



.time-range-number {

}

.time-range-there {

}

.time-range-text {

}



.time-range-number {

}

.filter-time-back {

}

.filter-time-title {

}

.filter-time-back-img {

}

.filter-time-title {

}

.filter-time-close {

}

.time-range-back {

}

.time-range-text {

}



.time-range-number {

}

.time-range-back {

}

.time-range-text {

}



.time-range-number {

}