.filter-route {
  margin: 95px 85px 95px 260px;
  color: #ffffff;
  background-color: #3E3C41;
  width: 360px;
  height: 1524px;
}

.filter-line {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.filter-date {
  height: 235px;
}

.filter-date-from {
  width: 295px;
  margin: 45px auto 25px auto;
}

.filter-date-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}

.filter-date-from > input, .filter-date-to > input {
  width: 295px;
  height: 44px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
  padding-left: 8px;
  border-radius: 3px;
  border: none;
  background-image: url(../images/filter-calendar.png);
  background-repeat: no-repeat;
  background-position: center right 17px;
}

.filter-date-from > input::placeholder, .filter-date-to > input::placeholder {
  color: #C4C4C4;
}

.filter-date-to {
  width: 295px;
  margin: 0 auto 32px auto;
}

/* checkboxes */

.filter-checkboxes {
  width: 265px;
  margin: 25px 35px 20px 60px;
}

.checkbox-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-right: auto;
}

.checkbox-coupe, .checkbox-reserved-seat, .checkbox-seated, .checkbox-lux, .checkbox-wifi, .checkbox-express {
  display: flex;
  margin-bottom: 30px;
}

.coupe-img, .reserved-seat-img, .seated-img, .lux-img, .wifi-img, .express-img {
  width: 22px;
  height: 22px;
  margin-right: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

.coupe-img {
  background-image: url(../images/coupe.png);
}

.reserved-seat-img {
  background-image: url(../images/reserved.png);
}

.seated-img {
  background-image: url(../images/seated.png);
}

.lux-img {
  background-image: url(../images/lux.png);
}

.wifi-img {
  background-image: url(../images/wifi.png);
}

.express-img {
  background-image: url(../images/express.png);
}

.input-checkbox-coupe {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}

.input-checkbox-coupe > input {
  position: absolute;
  clip: rect(0 0 0 0);
}

.input-checkbox-coupe::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  top: -4px;
  left: -10px;
  /* left: -55px; */
  background-color: #FFA800;
  border-radius: 50%;
}

.input-checkbox-coupe:focus::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  top: -4px;
  left: 0px;
  background-color: #FFA800;
  border-radius: 50%;
}

.input-checkbox-coupe::before {
  content: '';
  position: absolute;
  width: 72px;
  height: 20px;
  top: 0px;
  left: -55px;
  background-color: #FCDC9D;
  border-radius: 15px;
}

/* filter-price */

.filter-price {

}

.filter-price-title {

}

.price-range {

}

.price-range-text {

}

.range-input-in {

}

.range-input-out {

}

.price-range-number {

}

.filter-time-there {

}

.filter-time-title {

}

.filter-time-there-img {

}

.filter-time-title {

}

.filter-time-close {

}

.time-range-there {

}

.time-range-text {

}

.range-input-in {

}

.range-input-out {

}

.time-range-number {

}

.time-range-there {

}

.time-range-text {

}

.range-input-in {

}

.range-input-out {

}

.time-range-number {

}

.filter-time-back {

}

.filter-time-title {

}

.filter-time-back-img {

}

.filter-time-title {

}

.filter-time-close {

}

.time-range-back {

}

.time-range-text {

}

.range-input-in {

}

.range-input-out {

}

.time-range-number {

}

.time-range-back {

}

.time-range-text {

}

.range-input-in {

}

.range-input-out {

}

.time-range-number {

}